<html>
    <head>
        <script src="jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="../css/layout.css" type="text/css">
    </head>
    
    <body onload="init()">
        <canvas id="can"></canvas>
        <img id="canvasimg">
        <input type="button" value="save" id="btn" onclick="save()">
        <input type="button" value="clear" id="clr" onclick="erase()">
        <script type="text/javascript" src={{ url_for('static', filename='js/draw_save.js') }}></script>
    </body>
</html>